/*标题*/
.mui-bar-nav .mui-icon-checkmarkempty{
	color: white;
	font-size: 2.5rem;
	line-height: 1.3rem;
}

/*内容*/
.mui-content{
	width: 100%;
	height: 100%;
}
.mui-content .change-mission-title{
	background-color: #F7F7F7;
	border-radius: 0;
	border: 0;
	border-bottom: 1px solid #EEEEEE;
	padding-top: 1rem;
	height: 3.5rem;
	font-size: 1.2rem;
	margin: 0;
}
.mui-content .change-mission-content{
	border-radius: 0;
	border: 0;
	height: 60%;
	margin: 0;
}
.mui-content .change-mission-deathline{
	background-color: #F7F7F7;
	border-radius: 0;
	border: 0;
	margin-top: .5rem;
	border-bottom: 1px solid #EEEEEE;
	height: 2.8rem;
	color: #777777;
	font-size: .95rem;
	width: 100%;
	text-align: left;
}
/*日期选择*/
.deathline-title{
	display: block;
	font-size: .9rem;
	letter-spacing: .1rem;
	line-height: 2.5rem;
	color: #777777;
	padding-left: .5rem;
	background-color: #F7F7F7;
	/*border-top: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;*/
}
.choose-deathline{
	width: 100%;
	background: white;
	padding: 1rem;
}
.deathline-text{
	font-size: .9rem;
	margin: 0 auto;
	margin-bottom: .5rem;
	line-height: 2rem;
}
.choose-deathline .deathline{
	width:50%;
	width-min: 5rem;
	margin-left: 5%;
	height: 2rem;
}